$amarillo: #ffc30d;
$amarilloTransparente: #ffc30d7a;
$bg-servicios: #caf0f8;
$oscuro: #0d0d0d;
$claros: #f2f2f2;
$card-1: #caf0f8;
$card-2: #ade8f4;
$card-3: #caf0f8;
$card-4: #caf0f8;
$card-5: #90e0ef;
$card-6: #00b4d8;
$formulario: #011325;
$contacto: #061d33;
$copyright: #020c13;
$boton: #023e8a;
